@{
    Layout = null;
}

@model LoginVM

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Floating labels example for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Custom styles for this template -->
    <link href="~/css/floating-labels.css" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <form class="form-signin" method="post" asp-action="Login">
        <input type="hidden" value="@ViewBag.ReturnUrl" name="ReturnUrl" />
        <div asp-validation-summary="All"></div>
         
        <div class="text-center mb-4">
            <img class="mb-4 image" src="~/images/logo/logo.png" alt="" width="150" height="150">
            <h1 class="h3 mb-3 font-weight-normal">The Baklava</h1>
        </div>

        <div class="form-label-group">
            <input type="email" id="Email" asp-for="Email" class="form-control" placeholder="Email address" required autofocus autocomplete="off">
            <label for="Email">Email address</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="Password" asp-for="Password" class="form-control" placeholder="Password" required>
            <label for="Password">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>

            <label class="float-right">
                <input type="checkbox" value="remember-me" onchange="ShowPassword()"> Show Password
            </label> 
        </div>
        <button class="btn btn-lg btn-outline-dark btn-block" type="submit">

            <i class="fa fa-spinner fa-spin"></i>&nbsp;

            Sign in
        </button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; Murat VURANOK @DateTime.Now.Year</p>
    </form>
     
    <script>function ShowPassword() {
            var x = document.getElementById("Password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }</script>
</body>
</html>
